pid_file = "./pidfile"

{% if vault_agent_auto_auth_enabled | default('false') | bool %}
auto_auth {
  {% if vault_agent_auto_auth_method == 'approle' %}
  method {
    type = "approle"
    mount_path = "auth/{{ vault_approle_mount_path }}"
    config = {
      role_id_file_path = "/etc/vault-agent.d/vault_roleid"
      remove_secret_id_file_after_reading = false
      secret_id_response_wrapping_path = "vault_secretid"
      role = "{{ vault_agent_role }}"
    }
  }
  {% endif %}

  sink "file" {
    config = {
      path = "/etc/.token"
    }
  }
}

{% endif %}

vault {
  address = "http://sense:8200"
}

# Template consul configuration and CA cert
template {
  source      = "/etc/vault-agent.d/consul-agent.hcl.tmpl"
  destination = "/etc/consul.d/consul.hcl"
}
cache {
  use_auto_auth_token = true
}

listener "tcp" {
  address = "127.0.0.1:8100"
  tls_disable = true
}
