# See https://medium.com/hashicorp-engineering/systemd-service-file-for-vault-3e339ff86bc6
[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ vault_agent_config_dir }}/vault-agent.hcl
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User=root
Group=root
#ProtectHome=read-only
#PrivateTmp=yes
#PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
#NoNewPrivileges=yes
ExecStart=/usr/bin/vault agent -config={{ vault_agent_config_dir }}/vault-agent.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=60
LimitNOFILE=65536
LimitMEMLOCK=infinity
StandardOutput=append:/var/log/vault-agent.log

[Install]
WantedBy=multi-user.target
